:host
  box-sizing: border-box
  display: none
  position: absolute
  right: 0
  top: 0
  width: 300px
  height: 100%
  padding: 20px 10px
  background: #ccc

:host.is-open
  display: block
  border: 2px solid red
