<div class="container">
  <article>
    <h1>
      Welcome to ivy league!
    </h1>
    <p>
      Ivy League is an Angular application built with the experimental ivy rendering engine. 
      Learn more on
      <a href="https://angular.io/guide/ivy">
        the angular website
      </a>.
    </p>
    <p>
      In this experiment, click the side bar toggle button below to show or hide the side bar.
    </p>
  </article>
  <br>
  <br>

  <app-side-bar-toggle></app-side-bar-toggle>
  <app-side-bar></app-side-bar>
</div>
